# Kana Labs API Configuration
KANA_API_KEY=Byd1IAXsV2ZvJFSEft49AeFDeZjsUNJ6Hf8GxvG1Snj5QpeO
KANA_REST=https://perps-tradeapi.kana.trade
KANA_REST1=https://perps-tradeapi.kanalabs.io
KANA_WS=wss://perpetuals-indexer-ws.kana.trade/ws/


# Aptos Configuration (use your existing wallet)
APTOS_PRIVATE_KEY_HEX=0x710f2a24107bc63a3e2d6445039fbbb6e07b53512933f9a83188ab0f1bb22233
APTOS_ADDRESS=0xd2699e780ef0bcd555164c31a54ef395c8198c4d18e91a95c2d0118f29ed5660
APTOS_NODE1=https://fullnode.testnet.aptoslabs.com
APTOS_NODE=https://fullnode.mainnet.aptoslabs.com

# Supabase Configuration
SUPABASE_URL=https://txjoyzqebocuhzmtrfzn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4am95enFlYm9jdWh6bXRyZnpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3MDE1MTMsImV4cCI6MjA3NDI3NzUxM30.doYljirdN72vXF32caJWznNHcwTdGz-Bm89iWv7jfek
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4am95enFlYm9jdWh6bXRyZnpuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODcwMTUxMywiZXhwIjoyMDc0Mjc3NTEzfQ.pyqK2Yo7xQl6dtGGvyCbpk2i8PaKDt5D57k9CV9Ltos

# Market Configuration
MARKET_ID=15

# Copy Trading Configuration
TARGET_WALLET_ADDRESS=0xdbe636411fa3d28b2885cad6e74147b998f283d8acd5519d09a22bbaddd0a9f9