# Kana Labs API Configuration
KANA_API_KEY=
KANA_REST=https://perps-tradeapi.kana.trade
KANA_REST1=https://perps-tradeapi.kanalabs.io
KANA_WS=wss://perpetuals-indexer-ws.kana.trade/ws/


# Aptos Configuration (use your existing wallet)
APTOS_PRIVATE_KEY_HEX=
APTOS_ADDRESS=
APTOS_NODE1=https://fullnode.testnet.aptoslabs.com
APTOS_NODE=https://fullnode.mainnet.aptoslabs.com

# Supabase Configuration
SUPABASE_URL=https://.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Market Configuration
MARKET_ID=15

# Copy Trading Configuration
TARGET_WALLET_ADDRESS=